[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
yt-dlp = "*"

[dev-packages]
pyinstaller = "*"

[requires]
python_version = "3.10"

[scripts]
exe = "pyinstaller -Fc tingeltangel.py --distpath=."
